bin
dataset_10.csv
dataset_500000.csv
dataset_1000000.csv
dataset_3000000.csv
dataset_busqueda_10000.csv
dataset_insert_10000.csv
salidaAlta.csv
salidaBusqueda.csv
salidaAlta1.csv
salidaAlta13.csv
salidaAlta15.csv
salidaAlta17.csv
salidaAlta3.csv
salidaAlta5.csv
salidaAlta500000ListaPrincipio.csv                                                                                                                   
salidaBusqueda1.csv                                                                                                                                  
salidaBusqueda14.csv                                                                                                                                 
salidaBusqueda16.csv                                                                                                                                 
salidaBusqueda18.csv                                                                                                                                 
salidaBusqueda4.csv                                                                                                                                  
salidaBusqueda50000ListaPrincipio.csv                                                                                                                
salidaBusqueda6.csv
salidaAltaAr1000000.csv
salidaAltaAr3000000.csv
salidaAltaAr500000.csv
salidaBusquedaAr1000000.csv
salidaBusquedaAr3000000.csv
salidaBusquedaAr500000.csv
